@using webdaugia.Help;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}
@model List<webdaugia.Models.SanPham>
<div class="title-area clearfix main-color">
    <div class="inner">
        <div class="left-side-title">

            <h1 class="page-title">Auctions</h1>

            <nav class="woocommerce-breadcrumb"><a href="../index.html">Home</a>&nbsp;&#47;&nbsp;Auctions</nav>
        </div>
        <div class="right-side-title">
            <div class='sorting'>
                <h2>Sort auctions</h2><form class="woocommerce-ordering" method="get">
                    <select name="orderby" class="orderby">
                        <option value="menu_order" selected='selected'>Defaultsorting</option>
                        <option value="date">Sort by newness</option>
                        <option value="price">Sort by buynow price: low to high</option>
                        <option value="price-desc">Sort by buynow price: high to low</option>
                        <option value="bid_asc">Sort by current bid: Low to high</option>
                        <option value="bid_desc">Sort by current bid: High to low</option>
                        <option value="auction_end">Sort auction by ending soonest</option>
                        <option value="auction_started">Sort auction by recently started</option>
                        <option value="auction_activity">Sort auction by most active</option>
                    </select>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="container">
    <div id="content" role="main">




        <ul class="products">
            @foreach (var c in Model)
            {
                <li class="post-2341 product type-product status-publish has-post-thumbnail product_cat-katespade product_cat-ritmomundo product_tag-fun product_tag-ritmo-mundo  instock sold-individually shipping-taxable product-type-auction">
                    <a href="../product/fortis-mens-flieger-chrono-alarm-croco-leather-watch-auction/index.html" class="woocommerce-LoopProduct-link">
                        <a href="../product/fortis-mens-flieger-chrono-alarm-croco-leather-watch-auction/index.html">
                            <div class="thumb-wrapper"><img width="430" height="430" src="~/Img/@c.SPID/main1_thumbs.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="703-1" title="703-1" /></div>
                            <span class="auction-bage"></span>
                            <h3>@Html.Raw(c.TenSP)</h3>
                            <span class='short-description'>Automatic Fortis chronograph alarm GMT calibre f...</span>
                        </a>
                        <div class="action-buttons">
                            <a href="../product/fortis-mens-flieger-chrono-alarm-croco-leather-watch-auction/index.html" class="view-product linkcolor-as-bg" title="View product"><span data-icon="&#xe024;"></span></a>
                            <a href="#" data-product-id="2343" class="add-compare  linkcolor-as-bg" title="Compare product"><span data-icon="&#xe09a;"></span></a>
                            @if (CurrentContext.IsLogged() == false)
                            {
                                <a href="#" data-product-id="2343" class="add-wishlist linkcolor-as-bg" title="Add to wishlist" id="@c.SPID"><span data-icon="&#xe01a;"></span></a>
                            }
                            else
                            {

                                if (CurrentContext.IsWishList(c.SPID) == true)
                                {
                                    <a href="#" data-product-id="2341" class="remove-wishlist remove linkcolor-as-bg" title="Remove from wishlist" hidden="hidden"><span data-icon=""></span></a>
                                }
                                else
                                {
                                    <a href="#" data-product-id="2343" class="add-wishlist linkcolor-as-bg" title="Add to wishlist" id="@c.SPID"><span data-icon="&#xe01a;"></span></a>
                                }


                            }


                        </div>	<div class='circle-wrapper'>
                            <span>+</span>

                        </div>
                    </a>
                </li>
            }
        </ul>
    </div>
</div>

@foreach (var c in Model)
{
    <form method="post" action="@Url.Action("Wishlist", "Pages")" id="frm_@c.SPID" name="frm_@c.SPID">
        <input type="hidden" id="id" name="spid" value="@c.SPID" />
    </form>
    <script type="text/javascript">
        jQuery(function ($) {
            $('#@c.SPID').on('click', function () {
               $('#frm_@c.SPID').submit();
            });
        });
    </script>
}